.App {
  text-align: center;
  height: 100%;
  width: 100%;
  
  
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #242238;
}

/*
.container {
  width: 100%;
  height: 120px;
}
*/
/* resize images*/
.imglog {
  width: 90%;
  height: auto;
} 
.imgIco {
  width: 53%;
  height: auto;
} 

.mosaic {
  display: grid;
  opacity: 0.3;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.mosaic:hover {
  opacity: 1;
}
.mosaic__item:first-of-type{
  grid-column: 1 / span 5;
  grid-row: 2 / span 5;
}
.mosaic__item:nth-of-type(2){
  grid-column: 4 / span 4;
  grid-row:  1 / span 5;
}
.mosaic__item:last-of-type{
  grid-column: 2 / span 6;
  grid-row: 3 / span 5;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
