.App {
  text-align: center;
  height: 100%;
  width: 100%;
  
 
  background-repeat: no-repeat;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/*
.container {
  width: 100%;
  height: 120px;
}
*/
/* resize images*/
.imglog {
  width: 90%;
  height: auto;
} 
.imgIco {
  width: 53%;
  height: auto;
} 
.imgLogo{
  width: 30%;
  height: auto;
} 

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  overflow: hidden; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  opacity: 1;

}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color:#38315B;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #38315B;
  color: white;
  transform: rotateY(180deg);
} 


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*cards*/
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}


.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #A6127E;
  border-radius: 0 4px 0 32px;
}

.card1 {
  display: block;
  position: relative;
  width: 60%;
  background-color: #21234F;
  border-radius: 4px;
  border: 5px solid #A6127E;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  color: #A6127E
}
  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #A6127E;
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  .card1:hover:before {
    transform: scale(21);
  }


.card1:hover {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }

  /*Form*/

 .wrapper{
   background-image: url(./assets/img/Mail.svg);
   background-size: cover;
   background-repeat: no-repeat;
 }
 .contact-form{
   max-width: 550px;
   margin: 0 auto;
   background-color: rgba(0, 0, 0, 0.8);
   padding: 30px;
   border-radius: 5px;
   display: flex;
   box-shadow: 0 0 10px;
 }
 .input-fields{
   display: flex;
   flex-direction: column;
   margin-right: 4%;
 }
 .input-fields,
 .msg{
  width: 48%
 }
 .input-fields .input,
 .msg {
   margin: 10px 0;
   background: transparent;
   border-bottom: 2px;
   border-bottom: 2px solid white;
   padding: 10px;
   color: green;
   width: 100%;
 }
 .msg textarea{
   height: 212px;
 }

 ::-webkit-input-placeholder{
  color: green;
 }
 ::-moz-input-placeholder{
  color: green;
 }
 ::-ms-input-placeholder{
  color: green;
 }

 .form-btn{
   background: greenyellow;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
   color: white;
   cursor: pointer;
   text-transform: uppercase;
 }

 @media screen and (max-width: 600px){
   .contact-form{
     flex-direction: column;
   }
   .msg {
     height: 80px;

   }
   .input-fields,
   .msg{
     width: 100%;
   }
 }